body {
    background-color: red;
    background-image: linear-gradient(#F98400, #FFA314, #CF7727, #473224);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.round-button {
    border-radius: 50%;
    border: none;
    height: 40vh;
    width: 40vh;
    color: white;
    background-color: black;
    position: fixed;
    top:20vh;
    right: 50%;
    margin-right: -20vh;
    font-size: 10vh;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}
.round-button:focus { 
    outline: none; 
}

footer {
   position: fixed;
    top: 20vh;
   width: 100%;
height: 200px;
z-index: -1;
}